html {
  overflow-x: hidden;
}

header {
  background: linear-gradient(
      0deg,
      rgba(44, 44, 44, 0.6),
      rgba(44, 44, 44, 0.6)
    ),
    url("images/fleurs-bleu.jpg");
  background-size: cover;
  height: 600px;
	display: flex;
	align-items: flex-start;
  justify-content: center;
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

h1 {
  display: flex;
  font-size: 100px;
  color: rgb(252, 252, 252);
  }

body {
  font-family: Montserrat;
	margin: 0;
}
h2 {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}
h3 {
font-size: 20px;

}

/* Présentation */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 70px auto;
  margin-top: 120px;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0px 5px 25px 0px #0b707e;
  line-height: 24px;
}
.about img {
  border-radius: 50%;
  width: 200px;
  margin-top: -60px;
}
.intro{
  display: inline-flexbox;
  width: 500px;
  text-align: justify;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom : 30px; 
}

/* Formation */


.timeline ul {
  padding: 50px 0;
  text-align: left;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #129daf;
  color: white;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background:  rgba(89, 125, 28, 0.9);
}

.timeline .bubble {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: rgba(89, 125, 28, 0.9);
  box-sizing: border-box;
  font-size: 16px;
}

.timeline .bubble::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) .bubble {
  left: 45px;
}

.timeline ul li:nth-child(odd) .bubble::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent  rgba(89, 125, 28, 0.9) transparent transparent;
}

.timeline ul li:nth-child(even) .bubble {
  left: -439px;
}

.timeline ul li:nth-child(even) .bubble::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent  rgba(89, 125, 28, 0.9);
}

time {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
  
}

.bubble span {
  font-weight: bolder;
}
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background:  rgba(89, 125, 28, 1);
}

.timeline .bubble {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) .bubble {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) .bubble {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view .bubble {
  transform: none;
  visibility: visible;
  opacity: 1;
}
/* Compétences numériques */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 70%;
  box-shadow: 0px 5px 25px 0px #0b707e;
}

.skills-content {
  margin: 0 auto 70px auto;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
 	text-align: left;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

.skills-column {
  flex: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.progress-container {
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  width: 100%;
}

.progress-value,
.progress-badge {
  color: #0b707e;
  font-size: 0.8571em;
  text-transform: uppercase;
}

.progress-badge{
font-weight: bold
}

.progress-value {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 0.8571em;
}

.progress {
  margin-top: 14px;
	background: rgba(25, 105, 129, 0.4);
}

.progress-bar {
  height: 5px;
  background: rgba(89, 125, 28, 0.9);
}

/* Compétences transversales*/

.trans {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  padding-top: 0;
  width: 70%;
  box-shadow: 0px 5px 25px 0px #0b707e;
  
}

h2 .trans{
  display: flex;
  justify-content: center;
}

.autres{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: initial;
}

.langues{
  border:solid white 2px;
  width: 50%;
  padding-bottom: 10px;
 
    
}

.langues img{
  overflow: hidden;
  width: 30%;
  padding: 0;
  border-radius: 10%;
  margin-left: -10px;
  height: 30% ;
}
/*
.globe{
  overflow: hidden;
  width: 150px;
  height: 200px;
  margin-left: 0;
  padding-left: 0%;
}
*/
.langues-content{
  display: flex;
  justify-content :space-evenly;

}
.langues-content p{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0%;
  margin-top: 40px;
}

.soft{
  border: solid white 2px;
  width: 50%;
}

.soft img{
  overflow: hidden;
  padding-top: 0;
width: 100%;
}

/*Formulaire de contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto;
  width: 60%;
}

iframe {
  margin-top: 30px;
  margin-bottom: 30px;
	width: 70%;
}
form {
  width: 70%;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #d9d9d9;
  flex-grow: 1;
}

.form-group:first-of-type {
  margin-right: 30px;
}

label {
  font-size: 16px;
  color: #999999;
  padding: 5px;
}

input {
  width: 100%;
  color: #555555;
  border: none;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-family: Montserrat;
}

textarea {
  border: none;
  min-height: 110px;
  color: #555555;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 18px;
}

::placeholder {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  padding: 0 20px;
  min-width: 130px;
  height: 50px;
  background-color: rgba(18, 157, 175, 1);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white;
}




@media screen and (max-width: 900px) {
  h1 {
    padding: 10px;
  }
  .about {
    width: 100%;
    padding: 0;
    margin: 70px auto;
  }
  .about p {
    padding: 0 15px;
  }

  .skills-content {
    width: 100%;
    padding: 15px 0;
  }

  .timeline .bubble {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .bubble {
    left: -289px;
    /*250+45-6*/
  }
  .contact {
    margin: 30px;
    width: unset;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 46px;
  }
  .progress-value,
  .progress-badge {
    font-size: 12px;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline .bubble {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) .bubble {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .bubble::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgba(18, 157, 175, 0.8) transparent transparent;
  }
	.skills-content {
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .form-group:first-of-type {
    margin-right: 0;
  }
}